.btn-reply-delete {
    cursor: pointer;
}

.title-comment {
    font-family: sans-serif;
    color: #172b4d;
    font-size: 20px;
}

.btn-post-comment {
    float: right;
    background-color: #0098d1;
    margin: 10px 0px 5px 0px;
}

.btn-see-more {
    width: 100%;
    background-color: white;
    font-weight: bold;
    color: #0098d1;
}
